nav > ul > li a{
  text-decoration: none;
  color:black;
  padding: 10px 15px;
  text-transform: uppercase;
  float: left;
  
}
nav>ul{
  list-style: none;
  display: inline;
}
nav ul li{
  background-color: lightcoral;
  margin-right: 10px;
}